<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>scope watch and watchcollection</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.js" integrity="sha256-r1+cTccsZWuMsEacDDz3zmLoa4bJcLUlZk+W21C0Eoo=" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/counterController.js"></script>
</head>
<body ng-app="app">
    <div class="counter" ng-controller="counterController as counter">
        <h3>Counter: {{ counter.count }}</h3>
        <a class="counter__increment" href="" ng-click="counter.increment()">
            Increment Counter
        </a> -
        <a class="counter__decrement" href="" ng-click="counter.decrement()">
            Decrement Counter
        </a>
        <ul>
            <li ng-repeat="list in counter.countList">
                <input type="text" ng-model="list.id">
            </li>
        </ul>
    </div>
</body>
</html>                                                